name: CI

on:
  pull_request:
  push:
  release:
    types: [published]

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3.0.2
    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@1.1.0
      with:
        scandir: './src'
  semantic-release:
    needs: shellcheck
    name: Semantic Release
    uses: dargmuesli/github-actions/.github/workflows/release-semantic.yml@0.17.7
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
